.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Different fonts*/
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto+Slab:wght@700&family=Secular+One&family=Tilt+Neon&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #000;
  background: url(Images/BackgroundImg.webp);
  background-size: cover;
  background-attachment: fixed;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;
}
header.sticky {
  padding: 5px 100px;
  background: #fff;
}
header .logo {
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}
header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.6s;
}
header.sticky .logo {
  color: #000;
}
header.sticky ul li a {
  color: #000;
}
header.sticky .checkbtn {
  color: #000;
}
.Translation-Section {
  margin-top: 10%;
}
.TextBox {
  background-color: white;
  color: black;
}
.TextBox p {
  text-align: left;
}

/*---------Styling for the Grid----------*/

/* Footer */
footer {
  height: 60px;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: rgb(33, 34, 34);
  margin-top: 5%;
}

#homeText {
  background-color: black;
  color: #fff;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 1%;
  opacity: 0.7;
  font-weight: 500px;
}

#aboutText {
  background-color: rgb(33, 34, 34);
  color: #fff;
  padding-left: 10%;
  padding-right: 10%;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 5%;
  opacity: 0.7;
}

/*-----------------------------More Info Styling-----------------------------*/
.More_Info {
  margin-top: 15%;
  margin-bottom: 10%;
}
.Heading1 {
  color: white;
  text-align: center;
  font-size: 40px;
}
.subheading {
  color: white;
  text-align: center;
  font-size: 20px;
}
.container2 {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}
.box1 p {
  margin-top: 20%;
  padding: 15px;
}
.box1 {
  width: 50vw;
  height: 50vh;
}
.box2 {
  width: 50vw;
  height: 50vh;
}
.box2 img {
  width: 45vw;
  height: 50vh;
  opacity: 0.7;
  border-radius: 10px;
}
.box1,
.box2 {
  margin: 8px;
}
/*---------------------------------------------------------------*/
.container3 {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}
.box4 {
  width: 50vw;
  height: 50vh;
}
.box4 p {
  padding: 1%;
}
.box4 ul li {
  padding: 0.5%;
}
.box3 {
  width: 50vw;
  height: 50vh;
}
.box3 img {
  width: 45vw;
  height: 60vh;
  opacity: 0.7;
  border-radius: 10px;
}
.box3,
.box4 {
  margin: 8px;
}
.box4 ul li {
  color: white;
}

.container5 {
  display: flex;
  margin-left: 13%;
  margin-right: 5%;
}

.video-container5 {
  width: 20%;
  position: relative;
  width: 500px;
  height: 375px;
}

.video-container5 video {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  object-fit: cover;
}

.text-box5 {
  width: auto;
  height: auto;
  padding: 1%;
  margin-left: 1%;
  background-color: #fff;
  text-align: center;
}
.aText {
  padding-left: 4%;
  padding-right: 3%;
  margin-bottom: 5%;
}
/*---------------------------------------------------------------------------*/

/*-----------------------------Home Section----------------------------------*/
.home-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Outfit;
  font-weight: 400;
  line-height: 27.5px;
  font-stretch: normal;
  text-decoration: none;
}
#home {
  margin-top: 5%;
}
.desktop1-object-other07 {
  top: 1.96376371383667px;
  left: 540px;
  width: 525px;
  height: 477px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-object-other071 {
  top: 0px;
  left: 25.55288314819336px;
  width: 525px;
  height: 477px;
  position: absolute;
}
.desktop1-object-other17 {
  top: 134.101806640625px;
  left: 0px;
  width: 524px;
  height: 474.3597717285156px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop1-object-other171 {
  top: 0px;
  left: 0px;
  width: 524px;
  height: 474px;
  position: absolute;
}

.par {
  color: rgb(238, 238, 238);
}

.links {
  color: antiquewhite;
}
